:host {
  display: block;
  height: 100%;
  width: 21%;
  background-color: #f4f4f4;
}

i {
  padding: 0 8px;
}

.categories-header {
  display: flex;
  height: 48px;
  margin-top: 12px;
  padding: 0 8px;
  align-items: center;
}