:host {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: auto;
}

.task-page-name{
  font-weight: 500;
  font-size: 20px;
  padding: 20px 24px 10px;
  color: #0078d7;
}

.input-area,
.task-name{
  font-size: 15px;
  padding: 16px 0;
  margin: 0 24px;
  color: #0078d7;
  border-bottom: 1px solid #e5e5e5;

  input{
    border: 0;
    outline: 0;
  }

  i {
    padding-right: 20px;
  }
}

.task-name {
  color: black;
}

.task-name:hover {
  background-color: #f4f4f4;
}

.background-lines {
  height: 100%;
  margin: 0 24px;
  background: linear-gradient(
    180deg,
    white,
    white 52px,
    #e5e5e5 52px,
    #e5e5e5 52px
  );
  background-size: 100% 53px;
  box-shadow: inset 0 1px 0 0 #e5e5e5;
}
